* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-image: url(bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  width: 100%;
}

nav {
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

nav .logo {
  text-align: left;
  margin-left: 20px;
}

nav .menu {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

nav .menu a {
  height: 100%;
  padding: 26px 22px;
  border-radius: 2px;
  outline: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.5s ease;
  color: white;
}

.menu a:hover {
  background: #00b894;
  color: black;
}


main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

section h3 {
  font-size: 55px;
  font-weight: 200;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px black;
}

section h1 {
  margin: 30px 0 20px 0;
  font-size: 35px;
  font-weight: 700;
  text-shadow: 2px 1px 5px black;
  text-transform: uppercase;
}

section p {
  font-size: 30px;
  word-spacing: 2px;
  margin-bottom: 25px;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
}

section a {
  padding: 20px 30px;
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.5s ease;
}

section .button {
  background: #fff;
  color: #000;
}

.button:hover {
  background: #00b894;
  color: white;
}

.change__content:after {
  content: "";
  animation: changetext 10s infinite linear;
  color: #00b894;
}

@keyframes changetext {
  0% {
    content: "Electric Guitar";
  }

  25% {
    content: "Drums";
  }

  50% {
    content: "Keyboard";
  }

  75% {
    content: "Violin";
  }

  100% {
    content: "Studio Microphone";
  }
}

.title h2 {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
  font-size: 50px;
  color: #4E4FEB;
  text-shadow: 2px 2px 2px black;
}

.product {
  width: calc(33.33% - 20px);
  margin: 20px 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.product:hover {
  transform: scale(1.05);
}

.featured__products {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}

.product {
  margin: 10px;
  padding: 10px;
  background-color: rgb(188, 188, 188);
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.product img {
  height: 250px;
  width: 200px;
}

.price {
  color: #00b894;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 2px;
}

.buy__button {
  display: inline-block;
  padding: 5px 25px;
  background-color: white;
  color: black;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.5s ease;
  margin-top: 5px;
}

.buy__button:hover {
  background-color: #00b894;
  color: white;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.contact__info {
  flex: 1;
}

.copyright {
  text-align: right;
}